<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{/assets/jquery-treetable/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/jquery-treetable/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/input_img.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/sidebarobject.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
           
    <title>Построение диаграмм по объектам</title>
  </head>
  <body>
  
   <!----------------------------------Выбор объектов УК----------------------------> 
   <div th:insert="~{fragments/sel_object_uk :: sel_object_uk}"></div>
   
   <!---------------------------------Построение диаграммы--------------------------> 
   <div class="container" id="main_div"></div>
   
   <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
   <script th:src="@{/assets/jquery-treetable/jquery.treetable.js}"></script>
   <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
   <script th:src="@{/js/sel_obj_uk.js}"></script>
   <script src="https://cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
      
   <script th:inline="javascript">
	   var listFlow = [[${menuObjects}]];//Fucking editor!!!
	   makeMenu(listFlow);
   </script>
   
   
      
   
  </body>
</html>