<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="obj_count_water_table">
		<div class="container">
			<div class="justify-content-center align-items-center" style="margin-top: 3px">
				<div class="col-sm-12">
					<div class="row">
						<div class="col text-nowrap">
							<p style="text-align: right;font-size: 1.1em;">Счетчики воды</p>
						</div>
						<div class="col">
							<a th:href="@{/admin/home}" class="btn btn-primary btn-sm">Выход</a>
						</div>
					</div>
				</div>
				<!-- Фильтр для таблиц объектов -->			
				<div th:insert="~{fragments/filtr_uspd :: filtr_uspd_obj}"></div>
				<div>
					<table class="table table-success table-condensed table-striped table-hover table-sm table-bordered border-primary 
					              table-responsive-sm table-fixed" id="counttable" style="font-size: 0.9em; line-height: 1em;">
						<thead style="text-align: center;">
							<tr>
								<th>№</th>
								<th style="display: none;">ID_CountWater</th>
								<th>Номер <br>УСПД</th>
								<th style="display: none;">id_Measuring</th>
								<th>Показания <br>счетчика</th>
								<th>Время снятия <br>показаний</th>
								<th>Тип <br>счетчика</th>
								<th>Номер <br>канала</th>
								<th>Делитель</th>
							</tr>
						</thead>
						<tbody style="text-align: center;">
							<tr th:each="cnt,idxStat : *{listCountWater}">
								<td th:text="${idxStat.index + 1}"></td>
								<td style="display: none;" th:text="${cnt.idCountWater}"></td>
								<td th:text="${cnt.factoryNumberUspd}"></td>
								<td style="display: none;" th:text="${cnt.id_Measuring}"></td>
								<td th:text="${cnt.countW}"></td>
								<td th:text="${#temporals.format(cnt.timeStamp, 'dd.MM.yyyy HH:mm:ss')}"></td>
								<td th:text="${cnt.typeCount}==1?'СХВ':(${cnt.typeCount}==2?'СГВ':'*')"></td>
								<td th:text="${cnt.numCh}"></td>
								<td th:text="${cnt.numRat}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>