<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <meta charset="UTF-8"> </head>
<body>
	<div th:fragment="filtr_uspd_obj">
		<div class="row align-items-center" style="margin-top: 2px; margin-bottom: 1px">
			<div class="col-sm-auto">
				<input type="text" class="form-control pull-right" id="search" placeholder="Поиск по таблице">
			</div>

			<div class="col-sm-auto" style="margin-top: 1px; margin-bottom: 1px">
				<input type="text" class="form-control pull-right" id="searchuspd" placeholder="Номер УСПД">
			</div>

			<div class="col-sm-auto" style="margin-top: 1px; margin-bottom: 1px">
				<!-- label for="datefrom" style="text-align: right;" class="col-sm-auto col-form-label">За период с:</label -->
				<!-- div class="form-group col-sm-7" -->
					<input value="" type="date" class="form-control pull-right" id="datefrom" name="datebeg" placeholder="За период с"/>
				<!-- /div -->
			</div>

			<div class="col-sm-auto" style="margin-top: 1px; margin-bottom: 1px">
				<!-- label for="dateto" style="text-align: right;" class="col-sm-auto col-form-label">по:</label -->
				<!-- div class="form-group col-sm-9" -->
					<input value="" type="date" class="form-control pull-right" id="dateto" name="dateend" placeholder="по"/>
				<!-- /div -->
			</div>
		<div class="row align-items-center" style="margin-top: 1px; margin-bottom: 1px; margin-left: 1px">
			<div class="col-auto">
				 <button type="button" class="btn btn-info btn-sm" id="btn-filtr"><i class="bi-funnel"></i>Фильтр</button>
			</div>
			<div class="col-auto">
				 <button type="button" class="btn btn-info btn-sm" id="btn-del-filtr"><i class="bi-file-x"></i>Сброс</button>
			</div>
		</div>
		</div>
	</div>
</body>