<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<body>
<div th:fragment="tree_object">

<!-- Table tree  --------------------------------->

<div class="container">
    <div class="row">
        <div class="col mt-2">
           <table id="treeTable" class="table table-secondary table-condensed table-sm 
                                        table-bordered border-primary table-responsive-sm table-hover">
                <thead>
                <tr>
                    <th>Объекты</th>
                    <th>Наименование</th>
                    <th>Справочники</th>
                    <th style="display: none;">id_object</th>
                    <th style="display: none;">id_type_object</th>
                </tr>
                </thead>
           </table>
        </div>
    </div>
</div>
</div>
</body>
</html>