@charset "UTF-8";
html, body {
  background: url(/images/adminImg2copy.jpg);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
  opacity: 0.8;
}


.admin-message-text {
    font-style: normal;
    font-size: 22px;
    color: #004080;
}

